<form autocomplete="off" [formGroup]="miLogin" (ngSubmit)="login()">
  <!-- Email input -->
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input
      type="email"
      class="form-control" 
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="email"
    />
  </div>
  <!-- Validacion email -->
  <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
    <div *ngIf="email?.errors?.['required']">Email es requerido.</div>
    <div *ngIf="email?.errors?.['email']">Ingrese email válido.</div>
  </div>
  <!-- Password input -->
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="pass"
    />
  </div>
  <!-- Validacion password -->
  <div *ngIf="pass?.invalid && (pass?.dirty || pass?.touched)" class="alert alert-danger">
    <div *ngIf="pass?.errors?.['required']">El password es requerido.</div>
    <div *ngIf="pass?.errors?.['minlength']">Su contraseña es corta.</div>
  </div>

  <div class="mb-3">
    <p>
      Si no tienes cuenta puedes
      <a
        routerLink="/iniciar-sesion/create"
        type="button"
        class="text-uppercase"
        >crear una</a
      >
    </p>
    <a routerLink="/iniciar-sesion/change"
      >¿Olvidaste tu password?</a
    >
  </div>

  <button
    type="submit"
    class="btn boton text-uppercase"
    [disabled]="miLogin.invalid"
  >
    Ingresar
  </button>
</form>
