<button
  class="btn fondoDolar"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasExample"
  aria-controls="offcanvasExample"
>
  <div class="d-flex">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </div>
</button>

<div
  class="offcanvas offcanvas-start fondoDolar"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
      Franklin
      <hr />
      Billetera Virtual
    </h5>
    <button
      type="button"
      class="btn-close colorBlanco"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="navegacionLateral">
        <a routerLink="" class="itemsNav">Inicio</a>
        <a routerLink="" class="itemsNav">¿Quiénes somos?</a>
        <a routerLink="" class="itemsNav">Contacto</a>
        <p>Transacciones</p>
        <a routerLink="" class="itemsNav">Enviar dinero</a>
        <a routerLink="" class="itemsNav">Recibir dinero</a>

    </div>
  </div>
</div>
